<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Day Finder</title>
    </head>
    <body>
        <h1>Here will go some text.</h1>
        <div class="container">
            <form action="/output" method="post">
                <label for="input_string">Please enter the word for which you would like a scrabble score.</label>
                <input type="text" name="input_string" value="">
                <button type="submit" name="button">Get Score</button>
            </form>
        </div>
    </body>
</html>
